.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 1rem;
}

.f-icons>a>svg{
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 8px;
}

.f-icons>:nth-child(1):hover>svg{
  fill:#E4405F;
  border: 2px solid #E4405F;
  border-radius: 50%;
  padding: 8px;

}
.f-icons>:nth-child(2):hover>svg{
  fill:#1877F2;
  border: 2px solid #1877F2;
  border-radius: 50%;
  padding: 8px;
}
.f-icons>:nth-child(3):hover>svg{
  fill:#24292E; 
  border: 2px solid #24292E;
  border-radius: 50%;
  padding: 8px;
}
.f-icons>:nth-child(4):hover>svg{
  fill:#25D366;
  border: 2px solid #25D366;
  border-radius: 50%;
  padding: 8px;
}
.f-icons>:nth-child(5):hover>svg{
  fill:#1DA1F2; 
  border: 2px solid #1DA1F2;
  border-radius: 50%;
  padding: 8px;
}

.email-text{
  text-decoration: none;
  color: white;
}
.email-text:hover{
  letter-spacing: 2px;
  color: brown;
}


@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }
}
